body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.infoBoutUS {

	display:flex;
	justify-content: space-between;
	align-items:center;
}

.InfoBoutUs > img{
	height: 64px;
	width:  64px;
}
